<!-- app/views/players/_search_results.html.erb -->
<% @players.each do |player| %>
  <div class="p-2 hover:bg-gray-100 cursor-pointer"
       data-action="click->autocomplete#select"
       data-player-id="<%= player.id %>">
    <%= player.web_name %> - <%= player.team.name %>
  </div>
<% end %>
